asttokens
blinker
click
colorama
comm
debugpy
decorator
distlib
executing
filelock
Flask
imbalanced-learn
imblearn
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pytz
pyzmq
regex
scikit-learn
scipy
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
tzdata
corpora
virtualenv
wcwidth
Werkzeug
gunicorn
nltk.download('stopwords')
